body {
    font-family: "Montserrat", sans-serif;
    margin: 0; 
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar{
    background-color: #000;
    width: 22vw;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.main_content{
    background-color: #000;
    flex: 1;
    border-radius: 1rem;
    padding:0 0.5rem;
    overflow: auto;
    scrollbar-width: none;
}

.music_player{
    background-color: black;
    position: fixed;
    border-radius: 1rem;
    bottom: 0;
    width: 100%;
    height: 10vh;
    
}

a{
    text-decoration: none;
    color: #fff;
}

.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav_option{
    line-height: 2.5rem;
    opacity: 0.7;
}

.nav_option:hover{
    opacity: 1;
}

.nav_option i{
    font-size: 1.25rem;
}

.nav_option a{
    font-size: 1rem;
    margin-left: 1rem;
} 

.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
}  

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib_option img{
    width: 1.25rem;
    height: 1.25rem;
}

.icons{
    font-size: 1.25rem;
    display: flex;
}

.icons i{
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover{
    opacity: 1;
}

.box{
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 0.5rem 0 0.5rem 0;
    padding: 1rem 1.25rem;
}

.box-p1{
    font-size: 1.25rem;
    font-weight: 500;
}
.box-p2{
    font-size: 0.875rem;
    opacity: 0.7;
    margin-top: 0.25rem;
}

.badge{
    background-color: #fff;
    color: #000; 
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    margin-top: 1rem;
    width: fit-content;
}

.dark-badge{
    background-color: #000;
    color: #fff;
}

.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    border-radius: 0 0 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

.sticky-nav-icons{
    margin-left: 0.75rem;
}

.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

.nav-item{
    margin-right: 1rem;
}

@media(max-width: 1000px){
    .hide{
        display: none;
    }
}

.card{
    width: 200px;
    border-radius: 0.5rem;
    padding: 0.75rem;
    margin-left: 1.5rem;
}

.card:hover{
    background-color: #232323;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
}

.card img{
    width: 100%;
    border-radius: 0.5rem;
}

.card-title{
    font-weight: 600;
}

.card-info{
    font-size:0.85rem;
    opacity: 0.8;
}